<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = './../data/athlete_events.csv'

In [4]:
data = pd.read_csv(PATH)
# data['Sport'].value_counts()
data.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [5]:
# You code here
youngest_male = data[data['Year'] == 1992][data['Sex'] == 'M']['Age'].min()
youngest_female = data[data['Year'] == 1992][data['Sex'] == 'F']['Age'].min()
youngest_male, youngest_female

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

(11.0, 12.0)

In [108]:
data[data['Year'] == 1992][data['Sex'] == 'M'][data['Age'] == data[data['Year'] == 1992][data['Sex'] == 'M']['Age'].min()]

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN

In [109]:
data[data['Year'] == 1992][data['Sex'] == 'F'][data['Age'] == data[data['Year'] == 1992][data['Sex'] == 'F']['Age'].min()]

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
120233,60854,Judit Kiss,F,12.0,171.0,57.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 400 metres Freestyle,NaN
120234,60854,Judit Kiss,F,12.0,171.0,57.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 800 metres Freestyle,NaN

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [21]:
# You code here
male_percentage_bascket = data[data['Year'] == 2012][data['Sex'] == 'M'].drop_duplicates(['ID'])['ID'].count()
male_percentage = data[data['Year'] == 2012][data['Sex'] == 'M'][data['Sport'] == 'Basketball'].drop_duplicates(['ID'])['ID'].count()
round(male_percentage / male_percentage_bascket * 100, 1)

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

2.5

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [26]:
# You code here
female_height_mean = data[data['Year'] == 2000][data['Sex'] == 'F'][data['Sport'] == 'Tennis'].drop_duplicates(['ID'])[['Height']].mean()
female_height_std = data[data['Year'] == 2000][data['Sex'] == 'F'][data['Sport'] == 'Tennis'].drop_duplicates(['ID'])[['Height']].std()
print(female_height_mean, female_height_std)

Height    171.806818
dtype: float64 Height    6.563322
dtype: float64

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
# You code here
female_height_mean = data[data['Year'] == 2000][data['Sex'] == 'F'][data['Sport'] == 'Tennis'][['Height']].mean()
female_height_std = data[data['Year'] == 2000][data['Sex'] == 'F'][data['Sport'] == 'Tennis'][['Height']].std()
print(female_height_mean, female_height_std)

Height    171.792
dtype: float64 Height    6.458673
dtype: float64

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [28]:
# You code here
female_height_mean = data[data['Year'] == 2006].drop_duplicates(['ID'])[data['Weight'] == data[data['Year'] == 2006].drop_duplicates(['ID'])['Weight'].max()]
female_height_mean.head()

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
8102,4476,Patrick R. Antaki,M,41.0,185.0,127.0,Lebanon,LIB,2006 Winter,2006,Winter,Torino,Skeleton,Skeleton Men's Skeleton,NaN

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [51]:
# You code here
len(data[data['Name'] == 'John Aalberg'].groupby(['Year'])['Year'])

2

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [54]:
# You code here
data[data['Team'] == 'Switzerland'][data['Year'] == 2008][data['Sport'] == 'Tennis'][data['Medal'] == 'Gold']
# .drop_duplicates(['ID'])

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
67290,34396,Roger Federer,M,26.0,185.0,80.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold
257672,129042,Stanislas Wawrinka,M,23.0,183.0,79.0,Switzerland,SUI,2008 Summer,2008,Summer,Beijing,Tennis,Tennis Men's Doubles,Gold

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [67]:
# You code here
result = data[data['Team'].isin(['Spain', 'Italy'])][data['Year'] == 2016][data['Medal'].notnull()].groupby('Team')['Medal'].count()
result

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Team
Italy    70
Spain    43
Name: Medal, dtype: int64

In [68]:
result['Spain'] < result['Italy']

True

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [80]:
# You code here
age = {}
age[data[data['Year'] == 2008][(data['Age'] >= 15) & (data['Age'] < 25)].drop_duplicates(['ID'])['ID'].count()] = '15-25'
age[data[data['Year'] == 2008][(data['Age'] >= 25) & (data['Age'] < 35)].drop_duplicates(['ID'])['ID'].count()] = '25-35'
age[data[data['Year'] == 2008][(data['Age'] >= 35) & (data['Age'] < 45)].drop_duplicates(['ID'])['ID'].count()] = '35-45'
age[data[data['Year'] == 2008][(data['Age'] >= 45) & (data['Age'] <= 55)].drop_duplicates(['ID'])['ID'].count()] = '45-55'
idx_min = min(age.keys())
idx_max = max(age.keys())
age[idx_min], age[idx_max]

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

('45-55', '25-35')

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [85]:
# You code here
data[data['Season'] == 'Summer'][data['City'] == 'Atlanta']['ID'].count() > 0, \
data[data['Season'] == 'Winter'][data['City'] == 'Squaw Valley']['ID'].count() > 0

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/platonov/PycharmProjects/.mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

(True, True)

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [106]:
# You code here
abs(len(data[data['Year'] == 2002]['Sport'].value_counts()) - len(data[data['Year'] == 1986]['Sport'].value_counts()))

15

In [103]:
data['Year'].value_counts().sort_index()

1896      380
1900     1936
1904     1301
1906     1733
1908     3101
1912     4040
1920     4292
1924     5693
1928     5574
1932     3321
1936     7401
1948     7480
1952     9358
1956     6434
1960     9235
1964     9480
1968    10479
1972    11959
1976    10502
1980     8937
1984    11588
1988    14676
1992    16413
1994     3160
1996    13780
1998     3605
2000    13821
2002     4109
2004    13443
2006     4382
2008    13602
2010     4402
2012    12920
2014     4891
2016    13688
Name: Year, dtype: int64

In [106]:
# counts_max = data.groupby(['ID', 'Year']).count().reset_index('Year').groupby(['ID'])['Year'].count().max()
data.groupby(['ID', 'Year']).count().reset_index('Year')['Year'].groupby(['ID']).count().sort_values()
# id_count['ID']
# .max()
# .groupby(['ID']).count() == 10
# [data.groupby(['ID', 'Year']).count().reset_index('Year').groupby(['ID'])['Year'].count() == counts_max]

# counts_max

ID
1          1
83020      1
83019      1
83018      1
83014      1
83013      1
83011      1
83010      1
83009      1
83007      1
83005      1
83004      1
83003      1
83002      1
83001      1
82999      1
82998      1
82997      1
82995      1
82993      1
82991      1
82990      1
82989      1
82986      1
83021      1
83022      1
83023      1
83024      1
83052      1
83051      1
          ..
101684     7
108451     7
95522      7
38594      7
111582     7
27442      7
107734     7
97016      7
66554      7
21462      7
90813      7
57803      7
124626     7
90007      7
50382      7
104455     7
93650      7
120661     7
26880      8
61572      8
51618      8
104879     8
119965     8
28051      8
32458      8
28052      8
14388      8
99155      9
65378      9
79855     10
Name: Year, Length: 135571, dtype: int64

In [146]:
data[data['Name'] == 'Hiroshi Hoketsu']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
97370,49287,Hiroshi Hoketsu,M,23.0,168.0,62.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Equestrianism,"Equestrianism Mixed Jumping, Individual",NaN
97371,49287,Hiroshi Hoketsu,M,23.0,168.0,62.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Equestrianism,"Equestrianism Mixed Jumping, Team",NaN
97372,49287,Hiroshi Hoketsu,M,67.0,168.0,62.0,Japan,JPN,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN
97373,49287,Hiroshi Hoketsu,M,67.0,168.0,62.0,Whisper,JPN,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN
97374,49287,Hiroshi Hoketsu,M,71.0,168.0,62.0,Japan,JPN,2012 Summer,2012,Summer,London,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN

In [151]:
# 10,9,8: 79855, 32458, 61572
# 7: 
def count_unique(series):
    return len(series.unique())

def count_medal(series, medal='Gold'):
    return len(series[series == medal])

def name(series):
    return list(series)[0]

def gold(series):
    return count_medal(series, medal='Gold')

def silver(series):
    return count_medal(series, medal='Silver')

def bronze(series):
    return count_medal(series, medal='Bronze')

age_diff = data[data['ID'].isin([79855, 32458, 61572, 49287])].groupby(['ID'])\
    .agg({'Name': name, 
          'Age': [max, min], 
          'Year': count_unique, 
          'Medal': [gold, silver, bronze]})
age_diff.sort_values([('Age', 'max')])

                           Name   Age               Year Medal
                           name   max   min count_unique  gold silver bronze
ID
32458         Paul Bert Elvstrm  60.0  20.0            8     4      0      0
79855                Ian Millar  65.0  25.0           10     0      1      0
61572  Durward Randolph Knowles  70.0  30.0            8     1      0      1
49287           Hiroshi Hoketsu  71.0  23.0            3     0      0      0

That's it! Now go and do 30 push-ups! :)